<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
    <title>企业详情</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
    <header class="mdl-layout__header mdl-layout__header--seamed esh-layout__header" id="esh-layout-header">
        <div class="mdl-layout-icon esh-layout-icon--left esh-page--back esh-js-page--back"><i class="material-icons">navigate_before</i></div>
        <div class="mdl-layout__header-row esh-layout__header-row esh-layout__header-row--has-button">
            <span class="mdl-layout__title esh-layout__title">企业详情</span>
        </div>
    </header>
    <main class="mdl-layout__content" id="esh-layout-content">
        <div class="esh-panel esh-panel--default">
            <div class="esh-panel__body">
                <div class="esh-card-group">
                    <a class="esh-card">
                        <img src="logo.png" height="60" width="100">
                        <div class="esh-card-body">
                            <span class="mdl-typography--subhead">乐竞文化传媒(上海)有限公司</span>
                            <div class="mdl-typography--body-1 esh-card-body--text">电竞教育 | 民营企业 | 10～50人</div>
                        </div>
                        <div class="mdl-list__item-secondary-content mdl-typography--text-center">
                            <span class="mdl-typography--caption mdl-color-text--green">
                                <i class="material-icons">verified_user</i>
                                <span class="esh-visible--block">已认证</span>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="mdl-color--white">
                    <div class="mdl-typography--body-2 esh-padding--x-16-y-10">公司简介</div>
                    <div class="esh-padding--x-16-y-10">
                        <p>汕头市正心文化传播有限公司成立于2017年，是一家集电竞与直播营销策划、视频制作、赛事承办、娱乐文化于一体的新文化传播公司，公司拥有专业的策划团队、技术团队、直播团队、游戏战队及电竞赛事执行团队，致力于宣传潮汕新文化，成为当地业内标杆。 　　我们是一家年轻有活力、有梦想、爱电竞的新文化传播公司，我们确信“正心 明道 取势 优术”， 只有正视自己内心，明确发展方向，抓住成功机遇，提高自身能力，才能实现心中的梦想。正心拥有专业的团队和优质的服务，积极回馈客户，回馈社会，以实力为本，诚信为营，全心全意推动潮汕新文化发展，打造一个不为物欲所蔽，公正诚明，不忘本，保初心的行业新标准，为振兴潮汕文化做出自己的贡献。</p>
                    </div>
                </div>
                <div class="mdl-typography--body-2 esh-padding--x-16-y-10">招聘职位</div>
                <div class="esh-section">
                    <span class="mdl-typography--body-2 esh-section--title">游戏女领队</span>
                        <span class="mdl-typography--body-1 esh-section--subtitle esh-text-block--ellipsis">
                            <span>上班地点：上海</span>
                            <span class="esh-padding--x-1">月薪：薪资面议</span>
                        </span>
                    <div class="esh-section--actions">
                        <a class="mdl-button">查看详情</a>
                        <a class="mdl-button mdl-button--colored">投递简历</a>
                    </div>
                </div>
                <div class="esh-section">
                    <span class="mdl-typography--body-2 esh-section--title">游戏鼓励师</span>
                        <span class="mdl-typography--body-1 esh-section--subtitle esh-text-block--ellipsis">
                            <span>上班地点：上海</span>
                            <span class="esh-padding--x-1">月薪：薪资面议</span>
                        </span>
                    <div class="esh-section--actions">
                        <a class="mdl-button">查看详情</a>
                        <a class="mdl-button mdl-button--colored">投递简历</a>
                    </div>
                </div>
            </div>

        </div>

    </main>
</div>

<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/lib/material.min.js"></script>
<script src="../../js/utils/utils.js"></script>
<script src="../../js/company/companyView.js"></script>
</body>
</html>