<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
    <title>招聘企业</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
    <header class="mdl-layout__header mdl-layout__header--seamed esh-layout__header" id="esh-layout-header">
        <div class="mdl-layout-icon esh-layout-icon--left esh-page--back esh-js-page--back"><i class="material-icons">navigate_before</i></div>
        <div class="mdl-layout__header-row esh-layout__header-row esh-layout__header-row--has-button">
            <span class="mdl-layout__title esh-layout__title">招聘企业</span>
        </div>
    </header>
    <main class="mdl-layout__content" id="esh-layout-content">
        <ul class="mdl-list esh-media-list" id="esh-company-list">

            <li class="mdl-list__item mdl-list__item--three-line esh-list__item esh-list__item--two-line">
                <img src="http://116.62.198.110/storage/adpic/2017-11-04-01-24-22-59fca646a0849adpic.png" class="esh-list__item-image">
                <div class="mdl-list__item-primary-content esh-list__item-primary-content">
                    <span class="esh-list_item-title">中国体育电子竞技联盟</span>
                    <span class="mdl-list__item-text-body esh-list__item-text-body">
                        <span class="esh-list__item-secondary-info">电竞赛事</span>
                    </span>
                </div>
            </li>

            <li class="esh-list__item esh-list__item-load">
                <span class="esh-list__item-load-text">加载更多</span>
            </li>
        </ul>
    </main>
</div>

<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/lib/material.min.js"></script>
<script src="../../js/utils/utils.js"></script>
<script src="../../js/company/company.js"></script>
</body>
</html>