<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
    <title>教育经历</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
    <header class="mdl-layout__header mdl-layout__header--seamed" id="esh-header">
        <div class="mdl-layout__header-row esh-layout__header-row">
            <a><i class="material-icons esh-back">chevron_left</i></a>
            <span class="mdl-layout__title esh-layout__title" id="esh-headline">教育经历</span>
        </div>
    </header>
    <main class="mdl-layout__content" id="esh-content">
        <div class="esh-subs mdl-list">
            <div class="mdl-list__item">
                <div class="mdl-list__item-primary-content">
                  <span>重庆理工大学</span>
                    <i style="font-size: 13px;">2012~2016</i>
                </div>
                <a class="mdl-list__item-secondary-action" href="../resume/eduExperienceInfo.html"><i class="material-icons">edit</i></a>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
            </div>
            <div class="mdl-list__item">
                <div class="mdl-list__item-primary-content">
                    <span>技术总监</span>
                    <i style="font-size: 13px;">2012~2016</i>
                </div>
                <a class="mdl-list__item-secondary-action" href="../resume/workExperienceInfo.html"><i class="material-icons">edit</i></a>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
            </div>
            <div class="mdl-list__item">
                <div class="mdl-list__item-primary-content">
                    <span>CS项目</span>
                    <i style="font-size: 13px;">2012.12~2016.12</i>
                </div>
                <a class="mdl-list__item-secondary-action" href="../resume/projectExperienceInfo.html"><i class="material-icons">edit</i></a>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
            </div>
            <div class="mdl-list__item">
                <div class="mdl-list__item-primary-content">
                    <span>CSGO</span>
                    <i style="font-size: 13px;">2012开始接触</i>
                </div>
                <a class="mdl-list__item-secondary-action" href="../resume/gamingExperienceInfo.html"><i class="material-icons">edit</i></a>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
            </div>
        </div>

        <div class="esh-bottom-option">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">add</i>
            </button>添加教育经验
        </div>
    </main>
</div>
<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/lib/material.min.js"></script>
<script src="../../js/utils/utils.js"></script>
</body>
</html>