<header class="mdl-layout__header mdl-layout__header--seamed esh-layout__header" id="esh-layout-header">
    <div class="mdl-layout-icon esh-layout-icon--left esh-page--back"><i class="material-icons">navigate_before</i></div>
    <div class="mdl-layout__header-row esh-layout__header-row esh-layout__header-row--has-button">
        <span class="mdl-layout__title esh-layout__title">职位详情</span>
    </div>
    <div class="mdl-layout-icon esh-layout-icon--right"><i class="material-icons">home</i></div>
</header>