<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>已发布的职位</title>
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
    <header class="mdl-layout__header mdl-layout__header--seamed" id="esh-header">
        <div class="mdl-layout__header-row esh-layout__header-row">
            <a><i class="material-icons esh-back">chevron_left</i></a>
            <span class="mdl-layout__title esh-layout__title" id="esh-headline">收到的申请记录</span>
        </div>
    </header>
    <main class="mdl-layout__content" id="esh-content">
        <div class="esh-resume mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <img src="../../styles/default/images/default-img.png" class="esh-account-img" id="upload-head--img"/>
            </div>
            <div class="mdl-card__supporting-text">
                <div>贾军</div>
                <div>
                   aaaaa
                </div>
                <div>
                    申请时间:<span>2017-12-25 11:08:09</span>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">-->
                    <!--下架-->
                <!--</a>-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect" href="resumeInfo.html?userid=1">
                    上线
                </a>-->
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="../resume/previewResume.html">
                    查看简历
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    删除
                </a>
            </div>
        </div>
    </main>
</div>
</body>
</html>