<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
    <title>我的申请记录</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
    <header class="mdl-layout__header mdl-layout__header--seamed" id="esh-header">
        <div class="mdl-layout__header-row esh-layout__header-row">
            <a><i class="material-icons esh-back">chevron_left</i></a>
            <span class="mdl-layout__title esh-layout__title" id="esh-headline">我的申请记录</span>
        </div>
    </header>
    <main class="mdl-layout__content" id="esh-content">
        <ul class="esh-arecord mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    <span>市场总监</span>
                    <div class="mdl-list__item-text-body">
                        <div>浙江文鑫阳信息科技有限公司</div>
                        <div>2017-12-17</div>
                    </div>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">list</i></a>
                </span>
            </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    <span>总裁</span>
                    <div class="mdl-list__item-text-body">
                        <div>浙江文鑫阳信息科技有限公司</div>
                        <div>2017-12-17</div>
                    </div>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">list</i></a>
                </span>
            </li>
          </ul>
    </main>
</div>
<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/lib/material.min.js"></script>
<script src="../../js/utils/utils.js"></script>
</body>
</html>