<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../plugins/sweetalert/sweetalert.css"/>
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
    <title>注册</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout esh-no-login">
    <header class="mdl-layout__header mdl-layout__header--seamed" id="esh-header">
        <div class="mdl-layout-icon esh-layout-icon--left esh-page--back esh-js-page--back"><i class="material-icons">navigate_before</i></div>
        <div class="mdl-layout__header-row esh-layout__header-row esh-layout__header-row--has-button">
            <span class="mdl-layout__title esh-layout__title">电竞猎人</span>
        </div>
    </header>
    <main class="mdl-layout__content" id="esh-content">
        <div class="mdl-card">
            <div class="mdl-card__title">
                <img src="../../styles/default/images/user-logo.png" class="esh-login-logo">
            </div>
            <div class="mdl-card__actions">
                <div class="esh-reg-way">
                    <a data-target="phone" class="esh-reg-phone esh-active">手机注册</a>
                    <a data-target="mail" class="esh-reg-mail">邮箱注册</a>
                </div>
                <form>

                    <div class="esh-form-group">
                        <div class="esh-form-input">
                            <input type="text" id="account" placeholder="请输入手机号…"/>
                        </div >
                        <div class="esh-form-input">
                            <input type="password"  placeholder="请输入密码…" id="registerPwd1"/>
                        </div>
                        <div class="esh-form-input">
                            <input type="password" placeholder="请确认密码…" id="registerPwd2"/>
                        </div>
                        <div class="esh-form-input esh-form-verify esh-last">
                            <input type="text" class="" placeholder="请输入验证码…" id="verifyCode"/>
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                发送验证码</button>
                        </div>
                        <span id="errorMsg" class="error-msg"></span>
                    </div>
                    <div class="esh-reg-type">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="person">
                            <input type="radio" id="person" class="mdl-radio__button" name="options" value="person" checked>
                            <span class="mdl-radio__label">个人注册</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="company">
                            <input type="radio" id="company" class="mdl-radio__button" name="options" value="company">
                            <span class="mdl-radio__label">企业注册</span>
                        </label>
                    </div>
                    <div class="esh-agreement">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="agreement">
                            <input type="checkbox" id="agreement" value="agreement" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">我已阅读并同意<a href="#">用户协议</a></span>
                        </label>
                    </div>
                    <div class="esh-form-footer">
                        <div class="esh-form-sure">
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

</div>

<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../js/lib/material.min.js"></script>
<script src="../../js/utils/utils.js"></script>
<script src="../../js/my/register.js"></script>
</body>
</html>