<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
    <title>简历信息</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
    <header class="mdl-layout__header mdl-layout__header--seamed" id="esh-header">
        <div class="mdl-layout__header-row esh-layout__header-row">
            <a><i class="material-icons esh-back">chevron_left</i></a>
            <span class="mdl-layout__title esh-layout__title" id="esh-headline">修改教育经历</span>
        </div>
    </header>
    <main class="mdl-layout__content" id="esh-content">
        <div class="esh-edit">
            <label class="esh-label">
                <em>*</em>学校
            </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="重庆理工大学">
                <span class="mdl-textfield__error">error msg</span>
            </div>
        </div>
        <div class="esh-edit">
            <label class="esh-label">
                <em>*</em>学历
            </label>
            <div class="esh-select">
                <span class="esh-sval">高中</span>
                <select>
                    <option>高中</option>
                    <option>专科</option>
                    <option>本科</option>
                    <option>研究生及以上</option>
                </select>
            </div>
        </div>
        <div class="esh-edit">
            <label class="esh-label">
                <em>*</em>专业
            </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="软件工程">
                <span class="mdl-textfield__error">error msg</span>
            </div>
        </div>
        <div class="esh-edit">
            <label class="esh-label">
                <em>*</em>入学时间
            </label>
            <div class="esh-select">
                <span class="esh-sval">2012</span>
                <select>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                </select>
            </div>
        </div>
        <div class="esh-edit">
            <label class="esh-label">
                <em>*</em>毕业时间
            </label>
            <div class="esh-select">
                <span class="esh-sval">2016</span>
                <select>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                </select>
            </div>
        </div>

        <div class="esh-edit-fb">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                保存
            </button>
        </div>
    </main>
</div>
<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/lib/material.min.js"></script>
<script src="../../js/utils/utils.js"></script>
</body>
</html>