<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>预览简历</title>
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
    <header class="mdl-layout__header mdl-layout__header--seamed" id="esh-header">
        <div class="mdl-layout__header-row esh-layout__header-row">
            <a><i class="material-icons esh-back">chevron_left</i></a>
            <span class="mdl-layout__title esh-layout__title" id="esh-headline">预览简历<!--<i class="material-icons">edit</i>--></span>
        </div>
    </header>
    <main class="mdl-layout__content esh-resume-info" id="esh-content">
        <!--可以从my.html里面提取-->
        <div class="esh-account-info mdl-card">
            <div class="mdl-card__title">
                <img src="../../styles/default/images/default-img.png"  class="esh-account-img" id="upload-head--img"/>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="esh-text-l">公司名称未填写</span>
                <div>行业未知|企业类型未知|10~50人</div>
            </div>
            <!--<div class="mdl-card__menu">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect" href="accountInfo.html">-->
                    <!--<i class="material-icons">create</i>-->
                <!--</a>-->
            <!--</div>-->
        </div>
        <!--可以从resumeInfo里面提取-->
        <div class="mdl-card mdl-card--border">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">求职意向</h2>
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect"-->
                            <!--onclick="window.location.href='jobIntension.html'">-->
                        <!--<i class="material-icons">chevron_right</i>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <div class="esh-resume-info-t">
                    <label>工作地点</label>
                    <div>成都</div>
                </div>
                <div class="esh-resume-info-t">
                    <label>期望薪资</label>
                    <div>6000-7000</div>
                </div>
                <div class="esh-resume-info-t">
                    <label>行业分类</label>
                    <div>电竞门户</div>
                </div>
            </div>

        </div>
        <div class="mdl-card ">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">教育经历</h2>
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect"-->
                            <!--onclick="window.location.href='commonList.html'">-->
                        <!--<i class="material-icons">chevron_right</i>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2012-2013</p>
                        <p class="point">嘉里顿大学</p>
                        <p class="suptext">软件工程|本科</p>
                    </div>
                </div>
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2013-2014</p>
                        <p class="point">嘉里顿大学</p>
                        <p class="suptext">软件工程|硕士</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="mdl-card  ">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">工作经历</h2>
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect"-->
                            <!--onclick="window.location.href='commonList.html'">-->
                        <!--<i class="material-icons">chevron_right</i>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2013/9/17~2015/12/17</p>
                        <p class="point">腾讯科技</p>
                        <p class="suptext">web前端</p>
                    </div>
                </div>
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2015/9/17~2017/12/17</p>
                        <p class="point">腾讯科技</p>
                        <p class="suptext">web前端</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-card ">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">项目/赛事经历</h2>
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect"-->
                            <!--onclick="window.location.href='commonList.html'">-->
                        <!--<i class="material-icons">chevron_right</i>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2013/9/17开始接触</p>
                        <p class="point">CSGO</p>
                        <p class="suptext">无上之首席大师</p>
                    </div>
                </div>
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2013/9/17开始接触</p>
                        <p class="point">王者荣耀</p>
                        <p class="suptext">无上之首席大师</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-card ">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">电竞经验</h2>
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect"-->
                            <!--onclick="window.location.href='commonList.html'">-->
                        <!--<i class="material-icons">chevron_right</i>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2013/9/17开始接触</p>
                        <p class="point">CSGO</p>
                        <p class="suptext">无上之首席大师</p>
                    </div>
                </div>
                <div class="esh-tlbox">
                    <div class="esh-timeline">
                        <p class="point">2013/9/17开始接触</p>
                        <p class="point">王者荣耀</p>
                        <p class="suptext">无上之首席大师</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-card">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">技能特长</h2>
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect">-->
                        <!--<i class="material-icons">edit</i>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <div class="esh-skill">技能1|打死鬼子</div>
                <div class="esh-skill">技能1|打死你</div>
            </div>

        </div>
        <div class="mdl-card ">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">附加信息</h2>
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect">-->
                        <!--<i class="material-icons">edit</i>-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <div class="esh-skill">我的技能棒棒的</div>
            </div>

        </div>

        <!--<div class="esh-edit-fb">-->
            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;colored">-->
                <!--下载简历-->
            <!--</button>-->
        <!--</div>-->
    </main>
    <!--<footer class="esh-chartl-footer">-->
        <!--<div class="esh-edit esh-textarea">-->
            <!--<div class="esh-textarea&#45;&#45;p">-->
                <!--<textarea>美丽漂亮</textarea>-->
                <!--<span class="mdl-textfield__error">error msg</span>-->
            <!--</div>-->
            <!--<div style="text-align: right;">-->
                <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;colored">-->
                    <!--回复-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
</div>
</body>
</html>