<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的简历</title>
    <link rel="stylesheet" href="../../styles/mdl/material.min.css">
    <link rel="stylesheet" href="../../styles/default/styles.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header esh-layout">
        <header class="mdl-layout__header mdl-layout__header--seamed" id="esh-header">
            <div class="mdl-layout-icon esh-layout-icon--left esh-page--back esh-js-page--back"><i class="material-icons">navigate_before</i></div>
            <div class="mdl-layout__header-row esh-layout__header-row esh-layout__header-row--has-button">
                <span class="mdl-layout__title esh-layout__title">我的简历</span>
            </div>
        </header>
        <main class="mdl-layout__content" id="esh-content">
            <div class="esh-resume mdl-card mdl-shadow--2dp"><!--子视图 继承my里面的内容-->
                <div class="mdl-card__title">
                    <h3 class="mdl-card__title-text"><i class="material-icons">assignment</i>我的简历1</h3>
                </div>
                <div class="mdl-card__supporting-text">
                    简历完善度:<span>10%</span>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="../resume/resumeInfo.html?userid=1&rid=1">
                       编辑
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="../resume/previewResume.html?userid=1&rid=1">
                        预览
                    </a>
                    <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">-->
                        <!--删除-->
                    <!--</a>-->
                </div>
            </div>
            <!--@foreach($data['resumeList'] as $resume)-->
            <!--<div class="esh-resume mdl-card mdl-shadow&#45;&#45;2dp">-->
                <!--<span hidden class="resume-id">resume{{$resume->resume_id}}</span>-->
                <!--<div class="mdl-card__title">-->
                    <!--<h3 class="mdl-card__title-text"><i class="material-icons">assignment</i>{{$resume->resume_name}}</h3>-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text">-->
                    <!--简历完善度:<span>{{$resume->completion}}</span>-->
                <!--</div>-->
                <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                    <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect" to="/resume/add?rid={{$resume->rid}}">-->
                        <!--编辑-->
                    <!--</a>-->
                    <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect" to="/resume/preview?rid={{$resume->rid}}">-->
                        <!--预览-->
                    <!--</a>-->
                    <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect" onclick="del('{{$resume->rid}}')">-->
                        <!--删除-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--@endforeach-->

           <!-- @if(count($data['resumeList']) < 3)-->
            <div class="esh-bottom-option" onclick="window.location.href='resumeInfo.html'">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
                        id="add-resume" >
                <i class="material-icons">add</i>
                </button>创建简历
            </div>
            <!--@endif-->
        </main>
    </div>


    <script src="../../js/lib/jquery-3.2.1.min.js"></script>
    <script src="../../js/lib/material.min.js"></script>
    <script src="../../js/utils/utils.js"></script>
    <script src="../../js/resume/resume.js"></script>

</body>
</html>